.navigation {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .nav-logo img {
    width: 100px;
    padding: 10px;
    position: center;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
  }
  
  nav li a {
    text-decoration: none;
    color: #fff1E5;
    padding: 10px;
  }
  
  li a:hover {
    color: #342C37;
    border-radius: 6px;
  }

  /* header */
header {
    background-image: url("Images/hero\ image.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: cover;
  }